In [21]:
import camelot

In [22]:
tables = camelot.read_pdf("foo.pdf", pages='all')
tables, len(tables)

(<TableList n=1>, 1)

In [23]:
for i in range(len(tables)):
    print(tables[i].parsing_report)

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [34]:
for i in range(len(tables)):
    print(f"\nTabela {i+1}:")
    result = tables[i].df
    display(result)
    print(tables[i].df.to_json(orient='split')[0])

Tabela 1:

,0,1,2,3,4,5,6
0,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,,,
1,,,,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
2,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
3,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
4,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
5,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
6,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

{