In [416]:
import camelot
import json

In [417]:
pdf_link = 'http://www.adcon.rn.gov.br/ACERVO/sesap/DOC/DOC000000000256248.PDF'
tables = camelot.read_pdf(pdf_link, pages='7, 8, 9, 10, 11, 12')
# tables, len(tables)

In [418]:
# for i in range(len(tables)):
#     print(tables[i].parsing_report)

In [419]:

def download_data(data_frame):

    def format_col_name(col, row):
        return "".join(data_frame.get(col)[row].split('\n'))
    
    parsed = json.loads(data_frame.to_json(orient='split'))
    
    for col in range(len(parsed["columns"])):
        col_name = format_col_name(col, 0) if format_col_name(col, 0) != "" else format_col_name(col, 1)
        data_frame = data_frame.rename(columns={col: col_name})
        if col_name == "MUNICÍPIO DE RESIDÊNCIA" :
            result = []
            for row in parsed["data"]:
                result.append("".join(row[0].split('\n')))
            data_frame["MUNICÍPIO DE RESIDÊNCIA"] = result
        
    data_frame = data_frame.drop([0,1]).reset_index(drop=True)[["MUNICÍPIO DE RESIDÊNCIA", "CASOS CONFIRMADOS", "ÓBITOS CONFIRMADOS"]].rename(columns={"MUNICÍPIO DE RESIDÊNCIA": "municipio", "CASOS CONFIRMADOS": "confirmados", "ÓBITOS CONFIRMADOS": "obitos"})

    display(data_frame)
    # return data_frame.to_csv('out.csv', index=False)

In [420]:
for i in range(1,6):
    download_data(tables[i].df)

                        municipio confirmados obitos
0                           ACARI         787     12
1                             AÇU        4346    120
2                  AFONSO BEZERRA         427     12
3                       ÁGUA NOVA         204      2
4                      ALEXANDRIA        1025     13
5                   ALMINO AFONSO         349     10
6               ALTO DO RODRIGUES        1374     26
7                         ANGICOS         575     14
8                 ANTÔNIO MARTINS         343      3
9                           APODI        4545     63
10                   AREIA BRANCA        1873     78
11                           ARÊS         711     20
12  AUGUSTO SEVERO (CAMPO GRANDE)         343      6
13                   BAÍA FORMOSA         306      8
14                        BARAÚNA         789     20
15                      BARCELONA          53      3
16                BENTO FERNANDES          93      2
17                           BODÓ          95      0
18                      BOM JESUS         600     12

                     municipio confirmados obitos
0                     BREJINHO         844      8
1             CAIÇARA DO NORTE         289      9
2      CAIÇARA DO RIO DO VENTO         207      7
3                        CAICÓ        8758    106
4                CAMPO REDONDO         521     10
5                 CANGUARETAMA         894     24
6                     CARAÚBAS        1920     32
7          CARNAÚBA DOS DANTAS         506      6
8                   CARNAUBAIS         539      8
9                  CEARÁ-MIRIM        2068     91
10                  CERRO CORÁ         262      5
11            CORONEL EZEQUIEL         207      3
12         CORONEL JOÃO PESSOA         238      5
13                     CRUZETA        1276     10
14               CURRAIS NOVOS        2539     53
15            DOUTOR SEVERIANO         480     14
16                     ENCANTO         483     14
17                     EQUADOR         163      1
18              ESPÍRITO SANTO         351      9
19                    EXTREMOZ        2412     51
20               FELIPE GUERRA         745     13
21            FERNANDO PEDROZA         295      2
22                    FLORÂNIA         959     12
23            FRANCISCO DANTAS         167      1
24              FRUTUOSO GOMES         350      3
25                    GALINHOS         271      0
26                   GOIANINHA        1677     27
27  GOVERNADOR DIX-SEPT ROSADO         858     15
28                     GROSSOS         741     11
29                     GUAMARÉ        1282     43
30               IELMO MARINHO         256      6
31                   IPANGUAÇU         621     18
32                     IPUEIRA         180      2
33                       ITAJÁ         411      5
34                        ITAÚ         153      8
35                      JAÇANÃ         647      4

                     municipio confirmados  obitos
0                     JANDAÍRA         525       3
1                      JANDUÍS         390       5
2   JANUÁRIO CICCO (BOA SAÚDE)         152       6
3                         JAPI         132       1
4            JARDIM DE ANGICOS          93       1
5           JARDIM DE PIRANHAS        1354      29
6             JARDIM DO SERIDÓ        1298      19
7                  JOÃO CÂMARA        2061      39
8                    JOÃO DIAS         130       1
9                JOSÉ DA PENHA         300       4
10                    JUCURUTU        1879      33
11                      JUNDIÁ         457       6
12                LAGOA D'ANTA         224       6
13             LAGOA DE PEDRAS         148      10
14             LAGOA DE VELHOS         168       5
15                  LAGOA NOVA         537      10
16               LAGOA SALGADA         290       6
17                       LAJES         557       6
18              LAJES PINTADAS         278       6
19                    LUCRÉCIA         327       0
20                  LUÍS GOMES         403       5
21                     MACAÍBA        3369     130
22                       MACAU         913      32
23                 MAJOR SALES         171       7
24            MARCELINO VIEIRA         546      11
25                     MARTINS         223       1
26                MAXARANGUAPE         362       6
27             MESSIAS TARGINO         343       6
28                   MONTANHAS         357       9
29                MONTE ALEGRE         787       6
30        MONTE DAS GAMELEIRAS         140       1
31                     MOSSORÓ       18228     428
32                       NATAL       59175  211\n2
33              NÍSIA FLORESTA        1503      29
34                   NOVA CRUZ         986      41
35       OLHO-D'ÁGUA DO BORGES         568       4
36                 OURO BRANCO         353       4

                  municipio confirmados obitos
0                    PARANÁ         376      2
1                     PARAÚ         462      9
2                 PARAZINHO         306      7
3                  PARELHAS        1195     19
4                PARNAMIRIM       21203    397
5              PASSA E FICA         807      2
6                  PASSAGEM         161      2
7                      PATU        1271     23
8            PAU DOS FERROS        2788     13
9              PEDRA GRANDE         217      3
10              PEDRA PRETA         101      0
11            PEDRO AVELINO         211      4
12              PEDRO VELHO         442      6
13               PENDÊNCIAS         758     24
14                   PILÕES         246      3
15              POÇO BRANCO         498     12
16               PORTALEGRE         364      9
17          PORTO DO MANGUE         263      6
18                   PUREZA         334     11
19         RAFAEL FERNANDES         316      2
20           RAFAEL GODEIRO         371      1
21           RIACHO DA CRUZ         218      6
22        RIACHO DE SANTANA         134      0
23                RIACHUELO         500     12
24              RIO DO FOGO         216      9
25        RODOLFO FERNANDES         294      8
26              RUY BARBOSA         105      1
27               SANTA CRUZ        2873     51
28              SANTA MARIA         290     13
29         SANTANA DO MATOS         359      9
30        SANTANA DO SERIDÓ         160      0
31            SANTO ANTÔNIO        1245     37
32       SÃO BENTO DO NORTE         171      2
33      SÃO BENTO DO TRAIRÍ         125      3
34             SÃO FERNANDO         260      5
35   SÃO FRANCISCO DO OESTE         280      4
36  SÃO GONÇALO DO AMARANTE        6224    177
37       SÃO JOÃO DO SABUGI         427      6
38       SÃO JOSÉ DE MIPIBU        2971     43

                   municipio confirmados obitos
0      SÃO JOSÉ DO CAMPESTRE         702     23
1         SÃO JOSÉ DO SERIDÓ         402      0
2                 SÃO MIGUEL        1717     22
3      SÃO MIGUEL DO GOSTOSO         387     14
4       SÃO PAULO DO POTENGI         755     34
5                  SÃO PEDRO         306      6
6                 SÃO RAFAEL         501     11
7                   SÃO TOMÉ         765     17
8                SÃO VICENTE         511      2
9      SENADOR ELÓI DE SOUZA         152      3
10  SENADOR GEORGINO AVELINO         132      4
11              SERRA CAIADA         366      7
12        SERRA DE SÃO BENTO         151      3
13              SERRA DO MEL         354     14
14      SERRA NEGRA DO NORTE         682     10
15                  SERRINHA         289      5
16       SERRINHA DOS PINTOS         410      2
17            SEVERIANO MELO         332      9
18                SÍTIO NOVO         126      6
19          TABOLEIRO GRANDE         139      5
20                     TAIPU         443     12
21                   TANGARÁ         340      9
22           TENENTE ANANIAS         764     17
23   TENENTE LAURENTINO CRUZ         498      3
24                     TIBAU         468      9
25              TIBAU DO SUL        1361     10
26     TIMBAÚBA DOS BATISTAS         243      2
27                    TOUROS         806     27
28          TRIUNFO POTIGUAR         184      2
29                  UMARIZAL         775     16
30                   UPANEMA         781     13
31                    VÁRZEA         256      9
32                 VENHA-VER          89      4
33                 VERA CRUZ         469     11