In [41]:
import tabula
# pdf_path = "https://github.com/chezou/tabula-py/raw/master/tests/resources/data.pdf"
pdf_path = "20210520_TO.pdf"

dfs = tabula.io.read_pdf(pdf_path, pages="2-4", stream=True)
# read_pdf returns list of DataFrames
print(len(dfs))
display(
    
dfs[0]
)
display(
    
dfs[1]
)
display(
    
dfs[2]
)
display(
    
dfs[3]
)
display(
    
dfs[4]
)

4

,0 a 9 anos 47,Unnamed: 0,Unnamed: 1
0,10 a 19 anos 81,NaN,NaN
1,20 a 39 anos 354,NaN,Masculino
2,40 a 59 anos Feminino41460 a 69 anos 269 61,443.0,NaN
3,NaN,NaN,Fonte: Centro de Informações
4,70 e+ 45,NaN,Estratégicas da Vigilância em
5,TOTAL 857,NaN,Saúde – CIEVS/TO

,Unnamed: 0,MUNICÍPIO,TOTAL,Unnamed: 1,MUNICÍPIO.1,TOTAL.1
0,1,PALMAS,40.859,41,BABAÇULÂNDIA,610
1,2,ARAGUAÍNA,29.128,42,FIGUEIRÓPOLIS,600
2,3,GURUPI,10.306,43,SÍTIO NOVO DO TOCANTINS,599
3,4,PORTO NACIONAL,7.976,44,SÃO MIGUEL DO TOCANTINS,576
4,5,PARAÍSO DO TOCANTINS,7.193,45,ESPERANTINA,575
5,6,COLINAS DO TOCANTINS,6.640,46,ALIANÇA DO TOCANTINS,556
6,7,GUARAÍ,2.733,47,AGUIARNÓPOLIS,549
7,8,FORMOSO DO ARAGUAIA,2.499,48,COMBINADO,541
8,9,MIRANORTE,2.172,49,FÁTIMA,536
9,10,ARAGUATINS,2.042,50,SAMPAIO,525
10,11,XAMBIOÁ,2.021,51,PALMEIRAS DO TOCANTINS,524
11,12,TOCANTINÓPOLIS,1.960,52,ARRAIAS,523
12,13,MIRACEMA DO TOCANTINS,1.765,53,DARCINÓPOLIS,511
13,14,LAGOA DA CONFUSÃO,1.531,54,ARAGUACEMA,498
14,15,ANANÁS,1.463,55,SÃO SEBASTIÃO DO TOCANTINS,484
15,16,PEDRO AFONSO,1.441,56,CARRASCO BONITO,483
16,17,AUGUSTINÓPOLIS,1.371,57,ITAGUATINS,482
17,18,DIANÓPOLIS,1.243,58,ARAGOMINAS,473
18,19,ALVORADA,1.034,59,CASEARA,465
19,20,NATIVIDADE,1.011,60,PEQUIZEIRO,465
20,21,AXIXÁ DO TOCANTINS,1.005,61,TABOCÃO,463
21,22,PALMEIRÓPOLIS,963.000,62,PALMEIRANTE,461
22,23,NOVA OLINDA,887.000,63,NAZARÉ,457
23,24,SILVANÓPOLIS,884.000,64,BERNARDO SAYÃO,452
24,25,GOIATINS,850.000,65,MONTE DO CARMO,445
25,26,BURITI DO TOCANTINS,802.000,66,MURICILÂNDIA,445
26,27,ARAGUAÇU,785.000,67,ARAGUANÃ,422
27,28,SÃO BENTO DO TOCANTINS,783.000,68,BREJINHO DE NAZARÉ,418
28,29,PEIXE,779.000,69,ARAPOEMA,412
29,30,ITACAJÁ,766.000,70,BANDEIRANTES DO TOCANTINS,402
30,31,WANDERLÂNDIA,763.000,71,FILADÉLFIA,399
31,32,PONTE ALTA DO TOCANTINS,756.000,72,PARANÃ,375
32,33,DIVINÓPOLIS DO TOCANTINS,721.000,73,COUTO MAGALHÃES,365
33,34,COLMÉIA,720.000,74,ITAPORÃ DO TOCANTINS,362
34,35,BARROLÂNDIA,705.000,75,NOVA ROSALÂNDIA,357
35,36,CARIRI DO TOCANTINS,695.000,76,PAU D'ARCO,348
36,37,TAGUATINGA,677.000,77,SÃO VALÉRIO,341
37,38,SANTA FÉ DO ARAGUAIA,652.000,78,ITAPIRATINS,332
38,39,TOCANTÍNIA,650.000,79,MARIANÓPOLIS DO TOCANTINS,327
39,40,DOIS IRMÃOS DO TOCANTINS,611.000,80,CAMPOS LINDOS,323

,(COVID-19),Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,No 432
0,PG. 03,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NOTIFICAÇÕES PARA COVID-19,NaN,NaN,NaN
2,NaN,NaN,MUNICÍPIO TOTAL MUNICÍPIO,NaN,TOTAL,NaN
3,NaN,81,APARECIDA DO RIO NEGRO 313 111 CHAPADA DA NATI...,NaN,183,NaN
4,NaN,82,PONTE ALTA DO BOM JESUS 313 112 MAURILÂNDIA DO...,NaN,182,NaN
...,...,...,...,...,...,...
84,NaN,49,GOIATINS 9 102 AURORA DO TOCANTINS,NaN,3,NaN
85,NaN,50,ITACAJÁ 9 103 BOM JESUS DO TOCANTINS,NaN,3,NaN
86,NaN,51,PEQUIZEIRO 9 104 CAMPOS LINDOS,NaN,3,NaN
87,NaN,52,BURITI DO TOCANTINS 8 105 CARRASCO BONITO,NaN,3,NaN
88,NaN,53,CONCEIÇÃO DO TOCANTINS 8 106 CHAPADA DE AREIA,NaN,3,NaN

,(COVID-19),Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,No 432
0,PG. 04,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NOTIFICAÇÕES PARA COVID-19,NaN,NaN,NaN
2,NaN,NaN,MUNICÍPIO TOTAL MUNICÍPIO,NaN,TOTAL,NaN
3,NaN,107,ITAPIRATINS 3 121 RIO SONO,NaN,2,NaN
4,NaN,108,ITAPORÃ DO TOCANTINS 3 122 SANTA MARIA DO TOCA...,NaN,2,NaN
5,NaN,109,LAJEADO 3 123 SÃO SALVADOR DO TOCANTINS,NaN,2,NaN
6,NaN,110,LIZARDA 3 124 TALISMÃ,NaN,2,NaN
7,NaN,111,MAURILÂNDIA DO TOCANTINS 3 125 TUPIRAMA,NaN,2,NaN
8,NaN,112,NOVO ACORDO 3 126 CHAPADA DA NATIVIDADE,NaN,1,NaN
9,NaN,113 SANTA TEREZINHA DO TOCANTINS,3 127 NOVO JARDIM,NaN,1,NaN
10,NaN,114,CACHOEIRINHA 2 128 OLIVEIRA DE FÁTIMA,NaN,1,NaN
11,NaN,115,JUARINA 2 129 PINDORAMA DO TOCANTINS,NaN,1,NaN
12,NaN,116,LUZINÓPOLIS 2 130 PIRAQUÊ,NaN,1,NaN
13,NaN,117,MURICILÂNDIA 2 131 PUGMIL,NaN,1,NaN
14,NaN,118,NOVO ALEGRE 2 132 SANTA RITA DO TOCANTINS,NaN,1,NaN
15,NaN,119,PORTO ALEGRE DO TOCANTINS 2 133 SÃO FÉLIX DO T...,NaN,1,NaN
16,NaN,120,RIO DA CONCEIÇÃO 2 134 TUPIRATINS,NaN,1,NaN
17,NaN,NaN,TOTAL,NaN,2.766,NaN