In [26]:
import pandas as pd
import unidecode

In [27]:
def new_row(dados, municipio, confirmados, mortes):
    dict_add_rows = {'municipio':[municipio,]
                    , 'confirmados': confirmados
                    , 'mortes': mortes}
    return pd.concat([pd.DataFrame(dict_add_rows), dados]).reset_index(drop=True)

In [28]:
dates = ['0703', '0704', '1105']
for date in dates:
        csv_url = f'http://www.saude.ma.gov.br/wp-content/uploads/2021/{date[2:]}/Dados-Gerais-{date}.csv'

        dados = pd.read_csv(csv_url, encoding='latin_1', sep=';', header=2, thousands='.')
        dados.rename(columns=lambda x: unidecode.unidecode(x).strip().replace(" ", "_").lower(), inplace=True)
        dados = dados[['municipios', 'confirmado', 'obito']]
        dados.dropna(how='all', inplace=True)
        dados.rename(columns={'municipios': 'municipio', 'confirmado': 'confirmados', 'obito': 'mortes'}, inplace=True)
        dados["municipio"] = dados["municipio"].str.title()

        df = dados.copy()

        dados = new_row(dados, 'Importados/Indefinidos', '', '')
        dados = new_row(dados, 'TOTAL NO ESTADO', [df.confirmados.sum()], [df.mortes.sum()])
        
        dados.drop(dados.tail(1).index,inplace = True)

        # Removing .0 from table values
        dados["confirmados"] = dados["confirmados"].astype(str).str.replace(r'\.[0]', '')
        dados["mortes"] = dados["mortes"].astype(str).str.replace(r'\.[0]', '')
        display(dados)
        filename = f'MA_{date}.csv' 
        dados.to_csv(filename, index=False)

,MUNICÍPIOS,CONFIRMADO,ÓBITO,Unnamed: 3,SUSPEITOS,DESCARTADOS,CONFIRMADOS,Unnamed: 7,LABORATÓRIO PÚBLICO,634
0,AÇAILÂNDIA,3978.0,116.0,NaN,1.475,422.084,223489,NaN,LABORATÓRIO PRIVADO,46
1,AFONSO CUNHA,152.0,2.0,NaN,NaN,NaN,NaN,NaN,BOLETIM ANTERIOR,546.691
2,ÁGUA DOCE DO MARANHÃO,662.0,7.0,NaN,CASOS CONFIRMADOS,NaN,NaN,NaN,TOTAL,547.371
3,ALCÂNTARA,202.0,8.0,NaN,STATUS,QUANTIDADE,NaN,NaN,NaN,NaN
4,ALDEIAS ALTAS,973.0,11.0,NaN,Ativos,10.913,Isolamento Domiciliar,9.646,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<ipython-input-28-4e9ecf9cddbf>:21: FutureWarning: The default value of regex will change from True to False in a future version.
  dados["confirmados"] = dados["confirmados"].astype(str).str.replace(r'\.[0]', '')
<ipython-input-28-4e9ecf9cddbf>:22: FutureWarning: The default value of regex will change from True to False in a future version.
  dados["mortes"] = dados["mortes"].astype(str).str.replace(r'\.[0]', '')

,MUNICÍPIOS,CONFIRMADO,ÓBITO,Unnamed: 3,SUSPEITOS,DESCARTADOS,CONFIRMADOS,Unnamed: 7,LABORATÓRIO PÚBLICO,2.043
0,AÇAILÂNDIA,4385.0,153.0,NaN,2.141,452.693,246665,NaN,LABORATÓRIO PRIVADO,148
1,AFONSO CUNHA,155.0,2.0,NaN,NaN,NaN,NaN,NaN,BOLETIM ANTERIOR,595.953
2,ÁGUA DOCE DO MARANHÃO,672.0,7.0,NaN,CASOS CONFIRMADOS,NaN,NaN,NaN,TOTAL,598.144
3,ALCÂNTARA,208.0,11.0,NaN,STATUS,QUANTIDADE,NaN,NaN,NaN,NaN
4,ALDEIAS ALTAS,974.0,12.0,NaN,Ativos,16.533,Isolamento Domiciliar,15.022,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<ipython-input-28-4e9ecf9cddbf>:21: FutureWarning: The default value of regex will change from True to False in a future version.
  dados["confirmados"] = dados["confirmados"].astype(str).str.replace(r'\.[0]', '')
<ipython-input-28-4e9ecf9cddbf>:22: FutureWarning: The default value of regex will change from True to False in a future version.
  dados["mortes"] = dados["mortes"].astype(str).str.replace(r'\.[0]', '')

,MUNICÍPIOS,CONFIRMADO,ÓBITO,Unnamed: 3,SUSPEITOS,DESCARTADOS,CONFIRMADOS,Unnamed: 7,LABORATÓRIO PÚBLICO,2.396
0,AÇAILÂNDIA,4841.0,172.0,NaN,3.989,485.122,274799,NaN,LABORATÓRIO PRIVADO,114
1,AFONSO CUNHA,158.0,2.0,NaN,NaN,NaN,NaN,NaN,BOLETIM ANTERIOR,656.747
2,ÁGUA DOCE DO MARANHÃO,673.0,8.0,NaN,CASOS CONFIRMADOS,NaN,NaN,NaN,TOTAL,659.257
3,ALCÂNTARA,263.0,14.0,NaN,STATUS,QUANTIDADE,NaN,NaN,NaN,NaN
4,ALDEIAS ALTAS,975.0,13.0,NaN,Ativos,21.785,Isolamento Domiciliar,20.648,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<ipython-input-28-4e9ecf9cddbf>:21: FutureWarning: The default value of regex will change from True to False in a future version.
  dados["confirmados"] = dados["confirmados"].astype(str).str.replace(r'\.[0]', '')
<ipython-input-28-4e9ecf9cddbf>:22: FutureWarning: The default value of regex will change from True to False in a future version.
  dados["mortes"] = dados["mortes"].astype(str).str.replace(r'\.[0]', '')